.postContainer{
  margin-top: 128px;
  margin-left: 444px;
  margin-right: 444px;
  margin-bottom: 220px;
  background-color: white;
  height: 500px;
  padding: 20px;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formflex{
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, textarea{
  width: 500px;
  margin: 8px 0;
}

.contentinput{
  height: 200px;
}

.title{
  font-size: 60px;
}

.content{
  margin-top: 50px;
  text-align: justify;
  text-justify: inter-word;
}
body{
  background-color: antiquewhite;
}